dist: trusty
sudo: false
language: c

#addons:
 # sonarcloud:
  #  - organization: Dovantech Github
   # - token:
    #   secure: dafe9422fd40d91e2cf44d7465d9b9fec4db6e9e

script:
 - sonar-scanner
 - cmake .
 - cmake --build . -- -j2
 - ctest
 
Cache:
  directories:
  $HOME/.sonar/cache
  $HOME/.gradle
 

