dist: trusty
sudo: false
language: c

addons:
  sonarcloud:
    organization: "mrpoudel"
     - token:
       secure: 57ddfe081ffe0318ad2f1fcaaef894d5ab525d1e
       
env:
  - SONAR=true
       
script:
 - sonar-scanner
 - cmake .
 - cmake --build . -- -j2
 - ctest
